---
import { Icon } from 'astro-icon'
import { SiteMetadata, Logo } from '../config'
import Img from '../components/img.astro'
---

<div class="h-24 lg:h-16"></div>
<footer class="text-gray-600 dark:text-gray-400">
  <div
    class="fixed z-20 bottom-0 inset-x-0 bg-gray-100 dark:bg-gray-800 px-4 lg:px-8 py-1 lg:py-4 w-full flex items-center lg:flex-row flex-col border-t-2 border-orange-300 dark:border-orange-600"
  >
    <span
      class="grow inline-flex lg:ml-auto justify-center lg:justify-end mt-2 lg:mt-0"
    >
      {
        SiteMetadata.social.map(s =>
          s.link ? (
            <a
              href={s.link}
              class="ml-3 text-orange-600 hover:text-white-600 dark:text-orange-300 dark:hover:text-white-300"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Icon pack="bi" name={s.icon} class=" h-5 w-5" />
              <span class="sr-only">{s.name}</span>
            </a>
          ) : (
            ''
          )
        )
      }
    </span>
  </div>
</footer>
